<div class="text-center">
  <div class="container-project">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  </div>
      
</div>
<script src="/js/profile.js"></script>